<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connStr" connectionString="server=.;database=QiCeng;uid=sa;password=jujianfei;"/>
  </connectionStrings>
  <appSettings>
    <add key="DB" value="Sqlserver"/>
    <!--配置文件，可以换成Access或Oracle-->
  </appSettings>
</configuration>